@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');


h1 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  color: #A52A2A;
}

h3 {
  font-family: Montserrat;
  font-size: 20px;
}

h5 {
  font-family: Montserrat;
  font-size: 14px;
}

p{
  font-family: Montserrat;
  font-size: 14px;
}

body {
  font-family: Montserrat;
  background-color: #ffffff;
}



